@font-face {
    font-family: 'Inconsolata';
    src: url(/Qiqi/Projects/ticket/Inconsolata-VariableFont_wdth,wght.ttf);
}
body {
    background-image: url(/Qiqi/Projects/ticket/background-desktop.png);
    background-size:cover;
    color: white;
    z-index: 0;

}
h2{
    font-family: 'Inconsolata', sans-serif;
    padding-left: 49.5%;
}

h1 {
    margin-top: 1.5%;
    font-family: 'Inconsolata', sans-serif;
    padding-left: 30%;
    font-size: 50px;
}

label {
    margin-top: 30%;
    font-family: 'Inconsolata', sans-serif;
    padding-left: 39.9%;
    font-size: 17px;
}

input {
    margin-left: 39.7%;
    margin-top: 0.3%;
    border-radius: 10px;
    width: 28em;
    height: 2.8em;
    padding-left: 0.7%;
    font-family: 'Inconsolata', sans-serif;;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 13.5px;
    border-color: white;
    border-width: 0.5px;
}

p.info {
    float: left;
    margin-top: -2%;
    margin-bottom: 2%;
    font-family: 'Inconsolata', sans-serif;
    margin-left: 41.5%;
    font-size: 12px;
    opacity: 75%;
    width: 27em;
    height: 1em;
}

label.img {
    margin-left: -17.4%;
    padding-left: 27.5%;
    padding-bottom: 6%;
    padding-top: 0.7%;
    border-style: dashed;
    border-radius: 10px;
    cursor: pointer;
}

.upload {
    position: absolute;
    z-index: 2;
    margin-top: 22.7%;
    margin-left: 3%;
    border-style: solid;
    border-radius: 10px;
    border-width: 0.7px;
    /* background-color: rgba(255, 255, 255, 0.195); */
    padding: 0.5%;
    background-position: center;
    background-size: cover;
}

.drag {
    margin-top: -1.2%;
    font-family: 'Inconsolata', sans-serif;
    padding-left: 46.5%;
    font-size: 12px;
    opacity: 75%;
}

.button {
    background-color: rgb(246, 122, 98);
    color: black;
    border-width: 0;
    opacity: 100%;
    font-weight: 800;
    height: 2.4em;
    width: 22em;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.greetings {
    margin-top: -0.5%;
    font-family: 'Inconsolata', sans-serif;
    padding-left: 31.5%;
    font-size: 21px;
    opacity: 75%;
}

.text-2 {
    font-family: 'Inconsolata', sans-serif;
    padding-left: 38.8%;
    margin-top: -2%;
}

h1, h2, p, form {
    position: relative;
    z-index: 2; /* Bring the text above the lines */
}

.background-lines {
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; /* Lower than text */
    pointer-events: none; /* Makes sure it doesn’t block clicks */
}

.background-circles {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    padding-left: 3.7%;
    margin-top: -6.7%;
}

.background-circles-1 {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    padding-left: 65%;
    margin-top: 28%;
}

.background-swirls-des {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin-left: -0.7%;
    margin-top: 33.4%;
}

.background-swirls-des-2 {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin-left: 72%;
    margin-top: 3%;
}

.logo {
    float: left;
    padding-left: 47.2%;
    padding-top: 0.18%;
}

.info-logo {
    float: left;
    padding-left: 40%;
    margin-top: 5.5%;
    margin-right: 30%;
    margin-bottom: 1%;
}

#img-view {
    width: 30px;
    height: 30px;
    border: 0.5px solid #ccc;
    display: flex;
    cursor: pointer;
    background-color: #f9f9f92f;
    background-repeat: no-repeat;
    margin-left: 51.5%;
}

.remove-img {
    position: relative;
    float: left;
    padding: 0;
    border-radius: 0;
    background-color: #26262b;
    height: 1.5em;
    width: 7em;
    margin-left: 50.5%;
    margin-top: 4.5%;
    margin-bottom: -3.5%;
    visibility: hidden;
}