@font-face {
    font-family: 'Inconsolata';
    src: url(/Qiqi/ticket/Inconsolata-VariableFont_wdth\,wght.ttf);
}
body {
    background-image: url(/Qiqi/ticket/background-desktop.png);
    background-size:cover;
    color: white;
    z-index: 0;
}

h2{
    font-family: 'Inconsolata', sans-serif;
    padding-left: 49.5%;
}


h1, h2, p, form {
    position: relative;
    z-index: 2; /* Bring the text above the lines */
}

.background-lines {
    position: absolute;
    top: -15%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; /* Lower than text */
    pointer-events: none; /* Makes sure it doesn’t block clicks */
}

.background-circles {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    padding-left: 3.7%;
    margin-top: -6.7%;
}

.background-circles-1 {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    padding-left: 68%;
    margin-top: 26%;
}

.background-swirls-des {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin-left: -0.7%;
    margin-top: 27.6%;
}

.background-swirls-des-2 {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    margin-left: 72%;
    margin-top: 5%;
}

.logo {
    float: left;
    padding-left: 47.2%;
    padding-top: 0.18%;
}